{% extends 'nav.html'%}

{% block nav %}
<div style="width:50%;margin-left: 25%;margin-top: 25px;">
    <div class="container" >
        <form method="post">
            <h2>添加新的帐号信息</h2>
            {% csrf_token %}
            {% for field in userform %}
            <div class="mb-3">
                <label class="form-label">{{field.label}}</label>
                {{ field }}
                <span style="color:red">{{field.errors.0}}</span>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">确认添加</button>
        </form>
    </div>    
</div>
{% endblock nav %}
