{% extends 'nav.html'%}
{% load static %}
{% block nav %}
    <div>
        <div class="container">
            <a href="{% url 'cake:manage_add' %}">
            <button type="button" class="btn btn-primary btn-success" style="margin-top: 10px;margin-bottom: 10px;">
                添加新的帐号
            </button></a>
            <table class="table table-hover table-bordered" style="background-color: beige;">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">用户账号</th>
                    <th scope="col">账号密码</th>
                    <th scope="col">帐号所属人</th>
                    <th scope="col" colspan="3">操作</th>
                </thead>
                <tbody>
                    {%if page_query_set%}
                    {% for user in page_query_set%}
                    <tr >
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.name}}</td>
                        <td>*********</td>
                        <td>{{user.identify.name}}</td>
                        <td><a href="{% url 'cake:edit' user.id %}"><button type="button " class="btn btn-warning btn-sm">修改帐号/所属人</button></a></td>
                        <td><button uid="{{user.id}}" type="button" class="btn btn-danger btn-sm delete-btn">删除</button> </td>
                        <td><a href='{% url "cake:reset" user.id %}'><button type="button" class="btn btn-info btn-sm">重置密码</button></a></td>
                    </tr>
                    {%endfor%}
                    {% else %}
                    <tr>
                        <td>No Data</td>
                        <td>No Data</td>
                        <td>No Data</td>
                        <td>No Data</td>
                        <td><a href=#>修改</a></td>
                        <td><a href=#>删除</a></td>
                        <td><a href=#>重置密码</a></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table> 

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                {% if page_html_str %}
                {{page_html_str}}
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled">前一页</a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
                  <li class="page-item">
                    <a class="page-link disabled">后一页</a>
                  </li>
                  {% endif %}
                </ul>
            </nav>
        </div>


        <!-- 删除Modal -->
        <div class="modal" tabindex="-1" id="delete-modal" style="border-color: red;">
            <div class="modal-dialog modal-dialog-centered" >
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">删除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p >真的要删除吗？一旦删除无法复原。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" id="confirm-btn" class="btn btn-primary btn-danger">删除</button>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock nav %}

{% block js %}
<script>
    $(function() {
        var nid;
        btnDelete();
        confirmDelete();
    })


     function btnDelete () {
            $('.delete-btn').click(function() {
                $('#delete-modal').modal('show');
                //获取当前元素行的id
                nid = $(this).attr('uid') //自定义的id
                // console.log(nid);
            })
        }

    function confirmDelete(){
        $('#confirm-btn').click(() => {
            //确认删除 将要删除的id发送到后台
            $.ajax({
                url :'delete/'+nid+'/',
                type : 'GET',
                success : function(data) {
                    if (data.status){
                        alert('删除成功');
                        location.reload();
                    }else{
                        console.log(data.errors)
                    }
                }
            })
            
        })
    }
</script>
{% endblock %}